.log-in-div {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.information-div {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
