.log-in-div {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(150%);
}

.information-div {
	margin: auto;
	display: flex;
	flex-direction: column;
}
